# General
.DS_Store
.vscode
.cursor
# Python specific
__pycache__
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.ipynb_checkpoints
profile_default/
ipython_config.py
__pypackages__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.python-version
# MatLab specific
*.asv
*.m~
*.mex*
*.mlappinstall
*.mltbx
helpsearch*/
slprj/
sccprj/
codegen/
*.autosave
*.slxc
octave-workspace
# Exclude data files
/data/*
!/data/README.md
!/data/raw/README.md
!/data/processed/README.md
!/data/analyzed/README.md
!/data/figures/README.md
!/data/other/README.md
*.csv
*.tar
*.svg
*.npy
*.hdf5
*.mp4
*.log
*.png
logbook.csv
